<nav class="nav">
<a md-raised-button routerLink="content/waiting" class="choise stock" >股票基本信息</a>
<a md-raised-button routerLink="content/waiting" class="choise stock">股票季度报表</a>
<a md-raised-button routerLink="content/boxoffice/cn/realtime" class="choise box-office" >即时票房信息</a>
<a md-raised-button routerLink="content/boxoffice/cn/day" class="choise box-office">日票房数据</a>
<a md-raised-button routerLink="content/boxoffice/cn/month" class="choise box-office">月票房数据</a>
<a md-raised-button routerLink="content/boxoffice/cn/cinema-day" class="choise box-office">影院日票房数据</a>
<nav>
